html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    text-align: center;
}

#map {
    height: 80vh;
}